main {
    .banner {
        min-width: 100px;
        height: 450px;
        background-image: url(../../images/hero-banner.jpg);
        background-position: top center;
        background-repeat: no-repeat;

        .essentials {
            margin-top: 40px;
            width: 40%;
            color: $white;
            font-family: $font-lato;
            i {
                color: $gray;
                padding-right: 10px;
            }
            h2 {
                font-size: $trial-font-size;
                line-height: 70px;
                font-weight: 400;
            }
            h3 {
                font-size: 20px;
                line-height: 40px;
                font-weight: 400;
            }
            ul {
                
                li {
                font-size: 16px;
                line-height: 40px;
                }
            }
            .btn-trial {
                margin-top: 20px;
                padding: 8px 18px;
                background-color: $btn-trial;
                color: $white;
                width: 220px;
                &:hover {
                    cursor: pointer;
                }
                .btn-txt {
                    width: 70%;
                    padding-right: 20px;
                    border-right: 1px solid $white;
                }
                .download {
                    font-size: 14px;
                    font-weight: 700;
                }
                .info {
                    font-size: 12px;
                }
                i {
                    color: $white;
                    font-size: 28px;
                    padding-left: 20px;
                }
            }
        }

        .limited-offer {
            background-color: $black;
            height: 410px;
            width: 370px;
            margin-top: 40px;
            margin-left: 50px;
        }
    }
}