main {
    .banner {
        min-width: 100px;
        height: 600px;
        background-image: url(../../images/hero-banner.jpg);
        background-position: cover;
        background-repeat: no-repeat;
    }
}