main {
    .banner {
        min-width: 100px;
        height: 450px;
        background-image: url(../../images/hero-banner.jpg);
        background-position: top center;
        background-repeat: no-repeat;

        .essentials {
            margin-top: 40px;
            width: 40%;
            color: $white;
            font-family: $font-lato;
            i {
                color: $gray;
                padding-right: 10px;
            }
            h2 {
                font-size: $trial-font-size;
                line-height: 70px;
                font-weight: 400;
            }
            h3 {
                font-size: 20px;
                line-height: 40px;
                font-weight: 400;
            }
            ul {
                
                li {
                font-size: 16px;
                line-height: 40px;
                }
            }
            .btn-trial {
                margin-top: 20px;
                padding: 8px 18px;
                background-color: $btn-trial;
                color: $white;
                width: 220px;
                &:hover {
                    cursor: pointer;
                }
                .btn-txt {
                    width: 70%;
                    padding-right: 20px;
                    border-right: 1px solid $white;
                }
                .download {
                    font-size: 14px;
                    font-weight: 700;
                }
                .info {
                    font-size: 12px;
                }
                i {
                    color: $white;
                    font-size: 28px;
                    padding-left: 20px;
                }
            }
        }

        .limited-offer {
            background-color: $black;
            height: 410px;
            width: 370px;
            margin-top: 40px;
            margin-left: 50px;
            .offer {
                align-items: flex-end;
                margin: 15px 15px;
                .price {
                    color: $white;
                    font-size: 22px;
                    line-height: 30px;
                }
                .download-txt {
                    color: $gray;
                    font-size: 14px;
                    text-transform: uppercase;

                }
                img {
                    width: 100px;
                    height: 100px;
                }
            }
            
            // button buy
            .btn-buy {
                background-color: $btn-buy;
                color: white;
                border: none;
                padding: 8px 30px;
                margin-left: 15px;
                text-transform: uppercase;
                font-size: 15px;
                &:hover {
                    cursor: pointer;
                }
            }

            // limited offer
            .offer-time {
                background-color: $white;
                color: $black;
                margin: 40px 0px 0px 15px;
                padding: 10px 0px 10px 10px;
                width: 90%; 
                h3 {
                    font-size: 17px;
                    text-transform: uppercase;
                    font-weight: $fontbold;
                    line-height: 20px;
                }
                h4 {
                    font-size: 14px;
                    font-weight: $fontlight;
                    line-height: 30px;
                }
            }
        }
    }
}