* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-noto;
    font-size: $font-14;
}

.container {
    width: 1200px;
    margin: auto;
}

.container1000 {
    width: 1000px;
    margin: auto;
}

h2.banner-title {
    font-size: $banner-title-size;
    line-height: 50px;
}