.img-fixed-01 {
    height: 650px;
    background-image: url(../../images/image-bg-02.jpg);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}