.d-flex {
    display: flex;
}

.just-between {
    justify-content: space-between;
}

.just-center {
    justify-content: center;
}

.just-around {
    justify-content: space-around;
}

.align-center {
    align-items: center;
}

.ul-nostyle {
    list-style: none;
}