// colors
$white: #fff;
$black: #000;
$gray: rgb(158, 158, 158);

// color button
$btn-trial: #5c5c5a;
$btn-buy: dodgerblue;


// color bg
$bg-gray:#e6e6e6;
$bg_dark: #222222;

// text
$font-14: 14px;
$txt-opacity: .6;

$trial-font-size: 28px;

// font families
$font-lato: 'Lato', sans-serif;
$font-noto: 'Noto Sans', sans-serif;