// colors
$white: #fff;
$black: #000;
$gray: rgb(158, 158, 158);

// color button
$btn-trial: #5c5c5a;
$btn-buy: dodgerblue;


// color bg
$bg-slider:#ffffff;
$bg-gray:#e6e6e6;
$bg-dark: #101010;
$bg-darker: #222222;

// text
$font-14: 14px;
$txt-opacity: .6;
$banner-title-size: 30px; 

$trial-font-size: 28px;

// font families and weight
$font-lato: 'Lato', sans-serif;
$font-noto: 'Noto Sans', sans-serif;
$fontlight: 400;
$fontbold: 700;